name: Tests AutoRun 

on: 
  push:
    branches: [ "*" ]
  pull_request:
    
  workflow_dispatch:

jobs: 
  build: 
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v4
      
      - name: Run tests
        run: python -m unittest test_temperature.py
